USE [Cvecara]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Cvecara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Cvecara]
GO
/****** Object:  Table [dbo].[Cvece]    Script Date: 26.5.2020. 11:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cvece](
	[idCveca] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[Vrsta] [varchar](50) NOT NULL,
	[Cena] [int] NULL,
 CONSTRAINT [PK__Cvece__B0D7F48097949D8D] PRIMARY KEY CLUSTERED 
(
	[idCveca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kupac]    Script Date: 26.5.2020. 11:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupac](
	[idKupca] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [varchar](100) NOT NULL,
	[Lozinka] [varchar](100) NOT NULL,
	[isAdmin] [nvarchar](5) NULL,
 CONSTRAINT [PK__Kupac__5A2BCF9D1FAAC9FF] PRIMARY KEY CLUSTERED 
(
	[idKupca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lokacija]    Script Date: 26.5.2020. 11:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokacija](
	[idLokacije] [int] IDENTITY(1,1) NOT NULL,
	[Telefon] [nvarchar](100) NOT NULL,
	[Adresa] [nvarchar](200) NOT NULL,
	[Grad] [nchar](200) NOT NULL,
 CONSTRAINT [PK_Lokacija] PRIMARY KEY CLUSTERED 
(
	[idLokacije] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Prodaja]    Script Date: 26.5.2020. 11:47:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prodaja](
	[idProdaje] [int] IDENTITY(1,1) NOT NULL,
	[idKupca] [int] NOT NULL,
	[idCveca] [int] NOT NULL,
	[Datumprodaje] [varchar](50) NOT NULL,
	[Cena] [bigint] NOT NULL,
 CONSTRAINT [PK__Prodaja__36FE0BC499FA4018] PRIMARY KEY CLUSTERED 
(
	[idProdaje] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Prodaja]  WITH CHECK ADD  CONSTRAINT [fk_prodajacveca] FOREIGN KEY([idCveca])
REFERENCES [dbo].[Cvece] ([idCveca])
GO
ALTER TABLE [dbo].[Prodaja] CHECK CONSTRAINT [fk_prodajacveca]
GO
ALTER TABLE [dbo].[Prodaja]  WITH CHECK ADD  CONSTRAINT [fk_prodaje] FOREIGN KEY([idKupca])
REFERENCES [dbo].[Kupac] ([idKupca])
GO
ALTER TABLE [dbo].[Prodaja] CHECK CONSTRAINT [fk_prodaje]
GO
USE [master]
GO
